<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/javascripts/vegetable.js"></script>
    <script src="/javascripts/home.js"></script>
</head>
<body>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-6 growing"> <!--Growing-->
      <h1>
      Farm
      <select id="type-select">
        <option value="pumpkin">Pumpkin</option>
        <option value="carrot">Carrot</option>
        <option value="potato">Potato</option>
      </select>
      <span id="suppText">with growth cycle of: </span>
      <select id="cycle-select">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <button class="btn btn-primary add-vegetable">Plant</button>
      </h1>
      <div class="farm-background"></div>
      <table class="table">
      <tbody>
      <tr>
        <td id="farm-container"></td>
      </tr>
      </tbody>
      </table>
    </div>
    <div class="col-md-6 harvested"> <!--Harvested-->
      <h1>Harvested</h1>
      <div class="farm-background"></div>
      <table class="table">
      <tbody>
      <tr>
      <td id="harvested-container"></td>
      </tr>
      </tbody>
      </table>
    </div>
  </div>
 </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>